---
import Header from '../organisms/Header.astro';
import HeroSection from '../organisms/HeroSection.astro';
import ServicesSection from '../organisms/ServicesSection.astro';
import PresenceSection from '../organisms/PresenceSection.astro';
import ProjectsSection from '../organisms/ProjectsSection.astro';
import ContactSection from '../organisms/ContactSection.astro';
import Footer from '../organisms/Footer.astro';
---

<Header />
<main id="main-content" role="main">
  <HeroSection />
  <PresenceSection />
  <ProjectsSection />
  <ServicesSection />
  <ContactSection />
</main>
<Footer />
